<%- include("header")%>

<nav class=" nav11 navbar px-5 " style="background-color:#F5F5F5; padding:  0.6vw 4vw;">

    <div class="">
      <a class="navbar-brand  " href="/"><img src="https://img.icons8.com/color/60/null/image.png"/></a>
    </div>

    <div class="" style="overflow: hidden;">
        <a class="navbar-brand fs-3 fw-bold  " href="/" >Show Gallery</a>
    </div>

    <div class="">
        <a class="navbar-brand" href="/add"><img src="https://img.icons8.com/plasticine/60/null/plus-2-math.png"/></a>
    </div>
  </nav>

  <%- include("footer")%>




  